<template>
    <div class="slds-tabs_card">
        <lightning-tabset class="tabset-font">
            <lightning-tab label='{label.labelAUMTrend}'>
                <lightning-layout horizontal-align="end">
                    <lightning-button variant="base" label={label.label12MTrend} title="Non-primary action" onclick={displayModalAUM} class="slds-m-right_small slds-m-bottom_small"></lightning-button>
                </lightning-layout>
                
                <div>
                    <canvas class="aum" lwc:dom="manual"></canvas>
                </div>

                <template if:true={isModalAUM}>
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">

                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModalAUM}>
                                    <lightning-icon icon-name="utility:close"
                                        alternative-text="close"
                                        variant="inverse"
                                        size="small" ></lightning-icon>
                                </button>
                            </header>
            
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <c-scb-client-aum-trend12-m record-id={recordId}></c-scb-client-aum-trend12-m>
                            </div>
            
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </template>
            </lightning-tab>

            <lightning-tab label='{label.labelWMTrend}'>
                <lightning-layout horizontal-align="end">
                    <lightning-button variant="base" label={label.label12MTrend} title="Non-primary action" onclick={displayModalWM} class="slds-m-right_small slds-m-bottom_small"></lightning-button>
                </lightning-layout>
                
                <c-scb-client-wm-trend6-m record-id={recordId}></c-scb-client-wm-trend6-m>

                <template if:true={isModalWM}>
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">

                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModalWM}>
                                    <lightning-icon icon-name="utility:close"
                                        alternative-text="close"
                                        variant="inverse"
                                        size="small" ></lightning-icon>
                                </button>
                            </header>
            
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                                <c-scb-client-wm-trend12-m record-id={recordId}></c-scb-client-wm-trend12-m>
                            </div>
            
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </template>
            </lightning-tab>
        </lightning-tabset>
    </div>
</template>