<template>
    <div class="slds-tabs_card">
        <lightning-tabset class="tabset-font">
            <lightning-tab label="Balances">
                <template if:true={accountdata}>  
                    <!-- Financial Summary Section ### START -->
                    <div class="c-container">
                        <div class="slds-text-heading_small section-header-display">Financial Summary</div>
                            <lightning-layout pull-to-boundary="medium" class="item-display">
                                <lightning-layout-item flexibility="auto" padding="around-small">
                                    <div class="slds-p-around_xxx-small">
                                        <dl>
                                            <dt class="slds-form-element__label">Total Investment</dt>
                                            <dd>
                                                <div class="slds-form-element slds-form-element_readonly">
                                                    <div class="slds-form-element__control">
                                                    <div class="slds-form-element__static">
                                                        <lightning-formatted-number value={accountdata.Total_Investment__c} format-style="currency" currency-code="HKD"></lightning-formatted-number>
                                                    </div>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </lightning-layout-item>
                                <lightning-layout-item flexibility="auto" padding="around-small">
                                    <div class="slds-p-around_xxx-small">
                                        <dl>
                                            <dt class="slds-form-element__label">Total Bank Deposit</dt>
                                            <dd>
                                                <div class="slds-form-element slds-form-element_readonly">
                                                    <div class="slds-form-element__control">
                                                    <div class="slds-form-element__static">
                                                        <lightning-formatted-number value={accountdata.Total_Bank_Deposit__c} format-style="currency" currency-code="HKD"></lightning-formatted-number>
                                                    </div>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                        </div>
                                </lightning-layout-item>
                                <lightning-layout-item flexibility="auto" padding="around-small">
                                    <div class="slds-p-around_xxx-small">
                                        <dl>
                                            <dt class="slds-form-element__label">Wallet Share</dt>
                                            <dd>
                                                <div class="slds-form-element slds-form-element_readonly">
                                                    <div class="slds-form-element__control">
                                                    <div class="slds-form-element__static">
                                                        <lightning-formatted-number value={accountdata.FinServ__WalletShare__c} format-style="currency" currency-code="HKD"></lightning-formatted-number>
                                                    </div>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                        </div>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                        <!-- Financial Summary Section ### END -->
                </template>
                <c-scb-client-account-details record-id={recordId}></c-scb-client-account-details>
            </lightning-tab>
        </lightning-tabset>
    </div>
</template>