.table-margin {
    margin-top: auto; 
    margin-left: auto;
}

.section-header-display {
    /* background-color: rgb(243, 242, 242); */
    padding: 0.5rem 0.5rem 0.5rem 0
}

.tabset-font {
    font-size: initial;
}

.slds-table_fixed-layout, .slds-table--fixed-layout {
    table-layout: fixed;
    width: 100%;
    white-space: none;
}


@media (min-width: 300px) and (max-width: 800px) {
    .item-display {
        display: contents !important;
    }
}