<template>
    <div class="c-container">
        <lightning-layout multiple-rows="true">

            <lightning-layout-item size="12" medium-device-size="4">
                <div class="page-section page-right">
                    <template if:true={clientData}>
                        <c-scb-client-info-section
                            record-id={recordId}
                            accountdata={clientData}></c-scb-client-info-section>
                        <div class="slds-p-top_small"></div>
                        <c-scb-client-relationships record-id={recordId}></c-scb-client-relationships>
                    </template>
                </div>
            </lightning-layout-item>

            <lightning-layout-item size="12" medium-device-size="4" class="container-mid">
                <div class="page-section page-main" >
                    <template if:true={clientData}>
                        <c-scb-balances-section record-id={recordId} accountdata={clientData}></c-scb-balances-section>
                        <div class="slds-p-top_small"></div>
                        <c-scb-client-aum-mix record-id={recordId}></c-scb-client-aum-mix>
                        <div class="slds-p-top_small"></div>
                        <c-scb-client-aum-wm-trend record-id={recordId}></c-scb-client-aum-wm-trend>
                    </template>
                </div>
            </lightning-layout-item>

            <lightning-layout-item size="12" medium-device-size="4">
                <div class="page-section page-right">
                    <!-- <h2>Quick Links</h2> -->
                    <template if:true={clientData}>
                        <c-scb-client-rev-and-account-plan record-id={recordId}>
                        </c-scb-client-rev-and-account-plan >
                    </template>
                    <div class="slds-p-top_small"></div>
                    <template if:true={clientData}>
                        <c-scb-actions-section
                            record-id={recordId}
                            account-data={clientData}></c-scb-actions-section>
                    </template>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>
