.table-margin {
    margin-top: auto; 
    margin-left: auto;
}

.section-header-display {
    background-color: rgb(243, 242, 242);
    padding: 0.5rem
}

.tabset-font {
    font-size: initial;
}

.slds-table_fixed-layout, .slds-table--fixed-layout {
    table-layout: fixed;
    width: 100%;
    white-space: none;
}

.alert-icon {
    --sds-c-icon-color-foreground-default: rgba(214, 5, 1, 1);
}

.alert-message {
    background-color: #dde7f0;
    padding: 5px;
    font-size: small;
   
}