<template>
    <div class={containerClass}>
      <div class="slds-page-header__row">
        <div class="slds-page-header__col-title">
          <div class="slds-media">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-account">
                <lightning-icon icon-name="standard:account" size="large"></lightning-icon>
              </span>
            </div>
            <div class="slds-media__body">
              <div class="slds-page-header__name">
                <div class="slds-page-header__name-title">
                  <h1>
                    <span>Client</span>
                    <span class="slds-page-header__title slds-truncate" title={account.Name}>{account.Name}</span>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>