<template>

    <lightning-card title="Search client" icon-name="standard:account">
        <lightning-layout multiple-rows="true" vertical-align="end">
            <lightning-layout-item flexibility="auto" padding="around-small">
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <lightning-combobox
                            name="fieldName"
                            label="Search from:"
                            value={searchField}
                            options={options}
                            onchange={fieldChange}></lightning-combobox>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <lightning-input
                            type="text"
                            label="Search for:"
                            onchange={keywordchange}></lightning-input>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <lightning-button
                    label="Search"
                    variant="brand"
                    onclick={searchClient}></lightning-button>
            </lightning-layout-item>
        </lightning-layout><br/>
    </lightning-card>
    <template if:true={clientData}>
        <c-scb-client-name-and-actions client-data={clientData} add-margin="true"></c-scb-client-name-and-actions>
        <c-scb-client-header client-data={clientData} add-margin="true"></c-scb-client-header>
        <c-scb-client360 client-data-param={clientData}></c-scb-client360>
    </template>
</template>