<template>
    <div class="slds-tabs_card">
        <lightning-tabset class="tabset-font">
            <lightning-tab label="Actions">
                <c-scb-related-opportunity record-id={accountId}>
                </c-scb-related-opportunity>
                
                <br/>
                <c-scb-related-campaign record-id={accountId}>
                </c-scb-related-campaign>
                
                <br/>
                <c-scb-related-service-request
                    record-id={accountId}></c-scb-related-service-request>

                <br/>
                <c-scb-related-complaints
                    record-id={accountId}></c-scb-related-complaints>
            </lightning-tab>
        </lightning-tabset>
    </div>
</template>