<template>
    <lightning-layout>
        <article class="slds-card lightning-card">
            <div class="slds-card__header slds-grid slds-theme_shade">
                <header class="slds-media slds-media_center slds-has-flexi-truncate section-header-display">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:bot_training" size="small">
                        </lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <a class="slds-card__header-link">Service Requests</a>
                        </h2>
                    </div>
                </header>
            </div>
            <template if:true={data}>
                <div style="height: 165px;">
                    <c-scb-datatable
                        class="related-list"
                        columns={columns}
                        data={data}
                        key-field="Id"
                        hide-checkbox-column="true"
                        resize-column-disabled="true"></c-scb-datatable>
                </div>
            </template>
        </article>
    </lightning-layout>
</template>