<template>
    <template if:true={showModal}>
        <c-scb-modal onclosedialog={handleDialogClose}>
            <span slot="header">{header}</span>
            <slot class="slds-align_absolute-center">
                {body}
            </slot>
            <span slot="footer" >
                <lightning-button variant="neutral" label="Cancel" title="Cancel" onclick={handleClose} ></lightning-button>
                <lightning-button variant="brand" label="Delete" title="Delete" onclick={handleDelete} class="slds-m-left_x-small"></lightning-button>
            </span>
        </c-scb-modal>
    </template>
</template>